{% extends "core/base.html" %}

{% block title %}Portafolio{% endblock  %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock  %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Currículo</span>
{% endblock  %}

{% block content %}
<!-- Proyecto -->
    {% for model in models %}
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{model.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title"> {{model.subtitle}} </h2>   
                <p> {{model.description}} </p>
                {% if model.url %}
                    <p><a href="{{model.url}}">Más información</a></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock  %}